$gray: rgba(153, 153, 153, 1);

// Breakpoints для media queries
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

// Миксины для media queries (mobile-first подход)
@mixin mobile {
  @media (max-width: #{$mobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet-and-down {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
