.calculatorCont {
  display: flex;
  width: 100%;
  height: 18.84rem;
  background: rgba(242, 189, 0, 0.6);
  flex-direction: column;
  padding: 0 6.85rem;
  margin-top: 10.27rem;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.dark-theme .calculatorCont {
  background: rgba(242, 189, 0, 0.6);
}

.calculatorText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}
.calculatorContTextUp {
  font-size: 4.11rem; /* 48px / 11.68 = 4.11rem */
  font-weight: 700;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.calculatorContTextDown {
  font-size: 2.74rem; /* 32px / 11.68 = 2.74rem */
  font-weight: 500;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.calculatorContBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-button);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 13.0993150685rem;
  height: 4.28rem;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: var(--text-primary);
  border-style: solid;
  font-size: 1.19863013699rem;
  font-weight: 600;
  font-family: "Montserrat";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6.85rem;
  cursor: pointer;
  overflow: hidden;
}

.calculatorContBtn::before {
  content: "";
  position: absolute;
  width: 1.28rem;
  height: 200%;
  background: rgba(135, 206, 250, 0.85);
  transform: rotate(45deg);
  left: -100%;
  top: -50%;
  transition: left 0.6s ease-in-out 0s;
  z-index: 1;
}

.calculatorContBtn:hover::before {
  left: 150%;
}
@media (max-width: 850px) {
  .calculatorCont {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    padding: 30px 20px;
    margin-top: 60px;
    position: relative;
  }
  .calculatorText {
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .calculatorContTextUp {
    width: 240px;
    font-size: 20px;
    padding: 0;
  }
  .calculatorContTextDown {
    font-size: 12px;
    padding: 0;
    width: 184px;
  }
  .calculatorContBtn {
    width: 85px;
    height: 25px;
    font-size: 8.72px;
    padding: 8px 13px;
    border-radius: 5px;
    border-width: 0.25px 2px 0.25px 2px !important;
    border-style: solid !important;
    border-color: var(--text-primary) !important;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}
