.contactsMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 6.85rem;
  height: 50rem;
  gap: 5.14rem;
  margin-top: 10.27rem;
  box-sizing: border-box;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.contactsMainTitle {
  font-size: 4.11rem;
  font-weight: 600;
  margin: 0;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.contactsMainContent {
  display: flex;
  flex-direction: row;
  gap: 4.28rem;
  font-size: 1.71rem;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 500;
}

.contactsMainContentLeftHead,
.contactsMainContentCenterHead,
.contactsMainContentRightHead {
  font-size: 1.71rem;
  font-weight: 500;
  color: var(--text-secondary);
  transition: color 0.3s ease;
}

.contactsMainContentLeft,
.contactsMainContentCenter,
.contactsMainContentRight {
  display: flex;
  flex-direction: column;
  gap: 1.37rem;
}

.yandexMapWrapper {
  width: 100%;
  box-sizing: border-box;
}

.map {
  width: 100% !important;
  max-width: 100%;
  height: 264px !important;
  margin-bottom: 5.14rem;
  box-sizing: border-box;
}
@media (max-width: 850px) {
  .contactsMain {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 60px;
    height: auto;
    gap: 30px;
  }
  .contactsMainTitle {
    font-size: 32px;
  }
  .contactsMainContent {
    flex-direction: column;
    gap: 15px;
    height: auto;
    line-height: normal;
  }
  .contactsMainContentLeftHead,
  .contactsMainContentCenterHead,
  .contactsMainContentRightHead {
    margin: 0;
    font-size: 14px;
    line-height: normal;
  }
  .contactsMainContentLeft,
  .contactsMainContentCenter,
  .contactsMainContentRight {
    gap: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    line-height: normal;
  }
  .contactsMainContentLeftText,
  .contactsMainContentCenterText,
  .contactsMainContentRightText {
    line-height: normal;
    display: block;
  }
  .map {
    width: 100%;
    box-sizing: border-box;
    height: 200px !important;
    margin: 0;
    margin-bottom: 64px;
  }
}
