.popupOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 0;
  pointer-events: none;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.popupOverlay.open {
  background: rgba(0, 0, 0, 0.45);
  opacity: 1;
  pointer-events: auto;
}

.popupWindow {
  width: 34.76rem;
  height: 24.4rem;
  background: white;
  border-radius: 22px;
  position: relative;
  padding: 2.57rem 3rem;
  box-sizing: border-box;

  transform: scale(0.9);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popupWindow.open {
  transform: scale(1);
  opacity: 1;
}

