@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  font-family: "Montserrat";
}

body {
  font-family: inherit;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  background-color: none;
}
.logo {
  width: 110px;
  height: 80px;
}
.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: black;
}
.headerBtn a {
  all: unset;
  cursor: pointer;
}
.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0085d1;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  color: white;
  width: 130px;
  height: 35px;
  cursor: pointer;
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  box-sizing: content-box;
  width: 1280px;
  position: fixed;
  background: #ffffff;
  z-index: 1000;
  height: 80px;
}
.them {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.phoneCall {
  display: flex;
  align-items: center;
  object-fit: contain;
  width: 25px;
  height: 25px;
}
.number {
  display: flex;
  flex-direction: row;
  width: 171px;
  height: 35px;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 12px;
  gap: 16px;
}
.number span {
  margin-left: 20px;
}
.navRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.main {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 139, 219, 0.25) 0%,
    rgba(0, 95, 149, 0.25) 100%
  );
  height: 400px;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px 80px 0 80px;
  overflow: hidden;
}
.mainContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mainHeader {
  position: relative;
  display: flex;
  font-size: 64px;
  font-weight: 700;
  object-fit: contain;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 60px;
  width: 584px;
  font-family: "Montserrat";
}
.mainText {
  display: flex;
  font-size: 14px;
  object-fit: contain;
}
.moredetailsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.logisticImg {
  position: absolute;
  width: 612px;
  height: 612px;
  margin-top: -106px;
  overflow: hidden;
}
.logisticWrapper {
  position: relative;
  width: 612px;
  height: 612px;
  overflow: hidden;
}
.prices {
  display: flex;
  width: 1280px;
  height: 250px;
  padding: 0 80;
  margin-top: 60px;
  gap: 50px;
  justify-content: space-between;
}
.priceText {
  font-size: 48px;
  color: #f2bd00;
  justify-content: flex-start;
  align-items: center;
  padding: 77 0;
}
.airDelivery {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background: #0085d133;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgba(0, 133, 209, 0.35);
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  margin-left: 83px;
}
.textAvia {
  display: flex;
  font-size: 24px;
}
.context {
  display: flex;
  justify-content: center;
  align-items: center;
}
.airDelivery img {
  width: 64px;
  height: 64px;
  margin-top: 20px;
}
.plane {
  width: 64px;
  height: 64px;
}
.carDelivery {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background: #0085d133;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgba(0, 133, 209, 0.35);
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
}
.carDelivery img {
  width: 64px;
  height: 64px;
  margin-top: 20px;
}
.delivery {
  width: 64px;
  height: 64px;
}
.textAirDelivery {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.textCarDelivery {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.stages {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  height: 100%;
  width: 100%;
  padding: 0 0 0 80px;
}
.stageText {
  font-size: 48px;
  font-weight: 600;
  font-style: SemiBold;
  line-height: 100%;
  letter-spacing: 0%;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.applicationCont {
  display: flex;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 0.25);
  border-width: 1px, 2px, 1px, 2px;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  padding: 30px 30px 0 30px;
  margin-top: 60px;
  background: #ffffff;
}
.num {
  display: flex;
  position: relative;
  align-items: center;
  background: #f2f2f2;
  width: 440px;
  height: 60px;
  justify-content: end;
  border-radius: 10px;
}
.numDigit {
  display: flex;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00a2ff 0%, #f2bd00 100%);
  border-radius: 10px;
}
.applicationText {
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  color: #999999;
}
.phone {
  color: #f2bd00;
}
.conditionsCont {
  display: flex;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 0.25);
  border-width: 1px, 2px, 1px, 2px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
  gap: 20px;
  background: #ffffff;
  margin-left: 250px;
}
.num {
  display: flex;
  position: relative;
  align-items: center;
  background: #f2f2f2;
  width: 440px;
  height: 60px;
  justify-content: end;
  border-radius: 10px;
}
.numDigit {
  display: flex;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00a2ff 0%, #f2bd00 100%);
  border-radius: 10px;
}
.conditionsText {
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  color: #999999;
  width: auto;
  height: auto;
}
.deliveryCont {
  display: flex;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 0.25);
  border-width: 1px, 2px, 1px, 2px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
  gap: 20px;
  background: #ffffff;
  margin-left: 500px;
}
.num {
  display: flex;
  position: relative;
  align-items: center;
  background: #f2f2f2;
  width: 440px;
  height: 60px;
  justify-content: end;
  border-radius: 10px;
}
.numDigit {
  display: flex;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00a2ff 0%, #f2bd00 100%);
  border-radius: 10px;
}
.deliveryText {
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  color: #999999;
  width: auto;
  height: auto;
}
.receivingCont {
  display: flex;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 0.25);
  border-width: 1px, 2px, 1px, 2px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
  gap: 20px;
  background: #ffffff;
  margin-left: 750px;
}
.num {
  display: flex;
  position: relative;
  align-items: center;
  background: #f2f2f2;
  width: 440px;
  height: 60px;
  justify-content: end;
  border-radius: 10px;
}
.numDigit {
  display: flex;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00a2ff 0%, #f2bd00 100%);
  border-radius: 10px;
}
.receivingText {
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  color: #999999;
  width: auto;
  height: auto;
}
.benefitCont {
  margin-top: 120px;
  padding: 0 80px;
  justify-content: space-between;
}
.benefitCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.whyUsCard1 {
  display: flex;
  width: 620px;
  height: 168px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-width: 0.25px 2px 0.25px 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  background: #ffffff;
  flex-direction: column;
  padding: 30px 30px;
}
.benefitContUp {
  display: flex;
  justify-content: space-between;
}
.benefitContHead {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}
.benefitContNum {
  font-size: 32px;
  font-weight: 600;
  color: rgba(153, 153, 153, 1);
}
.benefitContText {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  line-height: 16px;
  letter-spacing: 0;
}
.benefitText {
  display: grid;
  grid-column: 1 / -1;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}

.benefitCont {
  margin-top: 120px;
  padding: 0 80px;
}
.whyUsCard2 {
  display: flex;
  width: 620px;
  height: 168px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-width: 0.25px 2px 0.25px 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  background: #ffffff;
  flex-direction: column;
  padding: 30px 30px;
}
.benefitContUp {
  display: flex;
  justify-content: space-between;
}
.benefitContHead {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}
.benefitContNum {
  font-size: 32px;
  font-weight: 600;
  color: rgba(153, 153, 153, 1);
}
.benefitContText {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  line-height: 16px;
  letter-spacing: 0;
}
.whyUsCard3 {
  display: flex;
  width: 620px;
  height: 168px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-width: 0.25px 2px 0.25px 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  background: #ffffff;
  flex-direction: column;
  padding: 30px 30px;
}
.benefitContUp {
  display: flex;
  justify-content: space-between;
}
.benefitContHead {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}
.benefitContNum {
  font-size: 32px;
  font-weight: 600;
  color: rgba(153, 153, 153, 1);
}
.benefitContText {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  line-height: 16px;
  letter-spacing: 0;
}
.whyUsCard4 {
  display: flex;
  width: 620px;
  height: 168px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-width: 0.25px 2px 0.25px 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  background: #ffffff;
  flex-direction: column;
  padding: 30px 30px;
}
.benefitContUp {
  display: flex;
  justify-content: space-between;
}
.benefitContHead {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}
.benefitContNum {
  font-size: 32px;
  font-weight: 600;
  color: rgba(153, 153, 153, 1);
}
.benefitContText {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  line-height: 16px;
  letter-spacing: 0;
}
.advantagesCont {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  margin-top: 120px;
}
.advantagesContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantagesCard1 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText1 {
  display: flex;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.advantagesCard2 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText2 {
  display: flex;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.advantagesCard3 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText3 {
  display: flex;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.advantagesCard4 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText4 {
  display: flex;
  color: rgba(0, 0, 0, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.advantagesCard5 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText5 {
  display: flex;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.advantagesCard6 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText6 {
  display: flex;
  color: rgba(0, 0, 0, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.advantagesCard7 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard7.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText7 {
  display: flex;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.advantagesCard8 {
  display: flex;
  width: 1200px;
  height: 200px;
  background-image: url("/img/advantagesCard8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 20px;
}
.advantagesHead {
  object-fit: cover;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.advantagesText8 {
  display: flex;
  color: rgba(0, 0, 0, 1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.advantagesBtn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background: #ffffffbf;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 14px;
  font-weight: 600;
}
.calculatorCont {
  display: flex;
  width: 1280px;
  height: 220px;
  background: linear-gradient(
    90deg,
    rgb(242, 190, 0.1) 0%,
    rgba(255, 218, 88, 0.1) 200%
  );
  flex-direction: column;
  padding: 0 80px;
  margin-top: 120px;
  justify-content: space-between;
}
.calculatorContTextUp {
  font-size: 48px;
  font-weight: 700;
  padding: 61px 0 0 0;
  color: rgba(0, 0, 0, 1);
}
.calculatorContTextDown {
  font-size: 32px;
  font-weight: 500;
  padding: 0 0 59px 0;
  color: rgba(0, 0, 0, 1);
}
.calculatorContBtn {
  display: flex;
  justify-content: center;
  align-self: end;
  align-items: center;
  transform: translateY(94px);
  background: #ffffffbf;
  width: 193px;
  height: 50px;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
}
