@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

// Переменные
@import "../styles/variables";

// Общие анимации
@import "../styles/animations";

// Общие стили
html {
  font-size: 11.68px;
}

:root {
  font-family: "Montserrat";
}

body {
  font-family: inherit;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.2rem;
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
}

// Стили компонентов
@import "../styles/components/header";
@import "../styles/components/main";
@import "../styles/components/prices";
@import "../styles/components/stagesWork";
@import "../styles/components/benefit";
@import "../styles/components/advantages";
@import "../styles/components/calculator";
@import "../styles/components/stillThinking";
@import "../styles/components/reviews";
@import "../styles/components/consultation";
@import "../styles/components/contactsMain";
@import "../styles/components/footer";
@import "../styles/components/popup";
