.main {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 139, 219, 0.25) 0%,
    rgba(0, 95, 149, 0.25) 100%
  );
  height: 34.25rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 6.85rem 6.85rem 0 6.85rem;
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2.57rem;
}

.mainHeader {
  position: relative;
  display: flex;
  font-size: 5.48rem;
  font-weight: 700;
  object-fit: contain;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 5.14rem;
  width: 50rem;
  font-family: "Montserrat";
}

.mainText {
  display: flex;
  font-size: 1.2rem;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
  font-weight: 500;
}

.mainText.fade-out {
  opacity: 0;
}

.mainText.fade-in {
  opacity: 1;
}

.moredetailsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffbf;
  width: 13.7rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 0.25px 2px;
  border-color: black;
  border-style: solid;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.moredetailsBtn::before {
  content: "";
  position: absolute;
  width: 1.28rem;
  height: 200%;
  background: rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
  left: -100%;
  top: -50%;
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

.moredetailsBtn:hover::before {
  left: 150%;
}

.logisticImg {
  position: absolute;
  width: 52.4rem;
  height: 52.4rem;
  margin-top: -9.08rem;
  overflow: hidden;
}

.logisticWrapper {
  position: relative;
  width: 52.4rem;
  height: 52.4rem;
  overflow: hidden;
}
@media (max-width: 375px) {
  .main {
    width: 355px;
    height: 250px;
    padding: 60px 0 0 20px;
  }
  .mainHeader {
    font-size: 32px;
    width: 335px;
    padding: 16px 0 0 0;
  }
  .mainText {
    font-size: 10px;
  }
  .moredetailsBtn {
    width: 100px;
    height: 21.87px;
    font-size: 8.75px;
    font-family: "Montserrat";
  }
  .mainContent {
    gap: 10px;
  }
  .logisticImg {
    width: 351px;
    height: 351px;
  }
}
