.prices {
  display: flex;
  width: 109.589041096rem;
  height: 21.41rem;
  padding: 0 6.85rem;
  margin-top: 5.14rem;
  justify-content: space-between;
}

.priceText {
  font-size: 4.11rem;
  color: #f2bd00;
  justify-content: flex-start;
  align-items: center;
  padding: 6.59rem 0;
  width: 16.8664383562rem;
}

.deliveryCards {
  display: flex;
  flex-direction: row;
  gap: 4.28rem;
}

.airDelivery {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background: #0085d133;
  width: 34.25rem;
  height: 21.41rem;
  border-radius: 20px;
  box-shadow: 0 0 4.28rem rgba(0, 133, 209, 0.35);
  flex-direction: column;
  font-weight: 400;
  font-size: 1.37rem;
  padding: 1.71rem 0 0 0;
}

.textAvia {
  display: flex;
  font-size: 2.05rem;
}

.context {
  display: flex;
  justify-content: center;
  align-items: center;
}

.airDelivery img {
  width: 5.48rem;
  height: 5.48rem;
  margin-top: 1.71rem;
}

.plane {
  width: 5.48rem;
  height: 5.48rem;
}

.carDelivery {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: rgba(242, 190, 0, 0.2);
  width: 34.25rem;
  height: 21.41rem;
  border-radius: 20px;
  box-shadow: 0 0 4.28rem rgba(242, 189, 0, 0.35);
  flex-direction: column;
  font-weight: 400;
  font-size: 1.37rem;
  padding: 1.71rem 0 0 0;
}

.carDelivery img {
  width: 5.48rem;
  height: 5.48rem;
  margin-top: 1.71rem;
}

.delivery {
  width: 5.48rem;
  height: 5.48rem;
}

.textAirDelivery {
  display: flex;
  gap: 0.86rem;
  flex-direction: column;
}

.textCarDelivery {
  display: flex;
  gap: 0.86rem;
  flex-direction: column;
}

@media (max-width: 375px) {
  .prices {
    display: flex;
    width: 335px;
    height: 174px;
    padding: 0 20px;
    margin-top: 60px;
    flex-direction: column;
    gap: 30px;
  }
  .priceText {
    font-size: 24px;
    padding: 0;
  }
  .airDelivery {
    width: 160px;
    height: 108px;
    gap: 10px;
    padding: 10px 0 12px 0;
  }
  .textAvia {
    font-size: 14px;
  }
  .context {
    font-size: 10px;
  }
  .carDelivery {
    width: 160px;
    height: 108px;
    gap: 10px;
    padding: 10px 0 12px 0;
  }
  .deliveryCards {
    display: flex;
    gap: 13px;
    justify-content: space-between;
  }
}
