.stillThinking {
  display: flex;
  margin-top: 10.27rem;
  margin-bottom: 10.27rem;
  min-height: 34rem;
  padding: 0 6.85rem;
  flex-direction: column;
}

.stillThinkingText {
  font-size: 4.11rem;
  font-weight: 700;
  width: 109.59rem;
}

.brainIcon,
.boxIcon,
.trailerIcon {
  display: inline-block;
  width: 6.42rem;
  height: 6.42rem;
  vertical-align: middle;
}
.stillThinkingTextLCR {
  flex-direction: column;
  display: flex;
  width: 109.59rem;
  gap: 0.86rem;
}

.stillThinkingTextLeft {
  display: flex;
  font-size: 3.42rem;
  font-weight: 700;
  transition: opacity 1.2s ease-out 0.1s,
    transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  will-change: opacity, transform;
}

.stillThinkingTextCenter {
  display: flex;
  font-size: 3.42rem;
  font-weight: 700;
  justify-content: center;
  transition: opacity 1.2s ease-out 0.3s,
    transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  will-change: opacity, transform;
}

.stillThinkingTextRight {
  display: flex;
  font-size: 3.42rem;
  font-weight: 700;
  justify-content: end;
  transition: opacity 1.2s ease-out 0.5s,
    transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  will-change: opacity, transform;
}
/* Анимации для stillThinkingTextLCR */
.stillThinking-left-hidden {
  opacity: 0;
  transform: translateX(-6.85rem);
}

.stillThinking-left-visible {
  opacity: 1;
  transform: translateX(0);
}

.stillThinking-center-hidden {
  opacity: 0;
  transform: translateY(4.28rem);
}

.stillThinking-center-visible {
  opacity: 1;
  transform: translateY(0);
}

.stillThinking-right-hidden {
  opacity: 0;
  transform: translateX(6.85rem);
}

.stillThinking-right-visible {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 375px) {
  .stillThinking {
    gap: 10px;
    padding: 0 20px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .stillThinkingText {
    font-size: 24px;
    width: 335px;
  }
  .brainIcon,
  .boxIcon,
  .trailerIcon {
    width: 37px;
    height: 37px;
  }
  .stillThinkingTextLCR {
    width: 335px;
    gap: 10px;
  }

  .stillThinkingTextLeft {
    font-size: 16px;
    margin: 0;
  }

  .stillThinkingTextCenter {
    font-size: 16px;
    margin: 0;
  }

  .stillThinkingTextRight {
    font-size: 16px;
    margin: 0;
  }
}
