/* Анимация для линий логотипа - движение только влево по очереди */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(-1.03rem);
    opacity: 0.4;
  }
  60% {
    transform: translateX(-1.03rem);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* shake animation (повороты) */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes letterUp {
  0% {
    transform: translateY(0);
    opacity: 1;
    color: rgba(153, 153, 153, 1);
  }
  100% {
    transform: translateY(-1.54rem);
    opacity: 0.9;
    color: #0066ff;
  }
}
